<div class="container-fluid landingpage_image white-text wf-hannari">
<br>
<br>
<br>
<br>
<br>
		<h1 align="center">アニメーション<div class="span">動画</div>で<div class="span">「飽きる事なく」</div>学ぶプログラミング</h1>
		<br>
		<br>
		
		<p align="center" class="span3">コードラゴン桜は、超初心者向けのプログラミング学習サイトです。</p>
		<br>
		<p align="center" class="span3">アニメーション動画を使い、エモくてウィットに富んだスタイルで、高校生にでも分かるように、皆様をプログラミングの世界へ誘います…</p>
		<br>
		<p align="center" class="span3">今は無料、気まぐれな私の気が変わって有料になる前に…</p>
		<br>
		<div class="col-sm-4 col-sm-offset-4 col-xs-12">
		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  		<%= f.error_notification %>
  		<div class="field">
    		<%= f.input :email, placeholder: "メールアドレス",label: false, required: false, autofocus: true %>
    		<%= f.input :password, placeholder: "パスワード(6文字以上)",label: false,required: false%>
    		<%= f.input :password_confirmation, placeholder: "パスワードの確認", label: false, required: false %>  
    	</div>
    	<br>
    	<br>
      	<div class="form-actions" align="center">
    		<%= f.button :submit, "無料登録してすぐに始める！", class: 'btn btn-secondary test' %>
  	  	</div>
  	  	<br>
  	  	<br>
  	  	<br>
  	  	<br>
  	  	<br>
  	  	<br>
  	  	<br>
  	    <br>
  	  	<br>
  	  	<br>
  	</div>
</div>
<div class="container-fluid landingpage_image2 white-text wf-hannari">
<div class="col-sm-6 col-sm-offset-3">
	<section>
		<br>
		<br>
		<h1>他のプログラミング学習サイトとの違い</h1>
		<br>
		<br>
		<br>
		<h2> 1. 科学的に効果のある教え方をしている</h2>
		<br>
  	  	<p>科学的に効果があると証明されている、最先端の教え方や勉強方法をこのサイトに注ぎ込んでおります。</p>
  	  	<p>教え方等で参考にしているのは、教育の分野で有名なオークランド大学のバーバラ・オークリー氏、フロリダ州立大学のアンダース・エリクソン氏、ジョージタウン大学のカル・ニューポート氏、そして私の師匠であるプログラマーのデイン・ミラー氏となります。</p>
  	  	<p>科学的に効果がある方法で学ぶ事によって、</p>
  	  	<p>・プログラミングの習得スピード</p>
  	  	<p>・知識の記憶定着率</p>
  	  	<p>・理解力</p>
  	  	<p>と言う部分が天と地の差で変わってきます。</p>
  	  	<br>
  	  	<h2>2. アニメーション動画を中心にカリキュラムを作成している</h2>
  	  	<br>
  	  	<p>何かを学習する上で最も効果があるとされているのが、コーチを付けて、常にフィードバックを貰える環境下で、スキルに取り組むと事ですが、実際にそれをやろうとするとお金が掛かりすぎますし、そんな環境はそう、存在しません。</p>
  	  	<p>と言う訳で、本であったり、文字がベースとなるプログラミング学習サイト、何もインストールせずに直接、画面にコードを打ち込むサイト、動画などが学習教材を提供する方法として主流になっているわけです。
  	  	<p>私がアニメーション動画を選んだのは、</p>
  	  	<p>・絵や写真を使う事によって、理解、情報の伝達速度速度、記憶定着率を上げる事が出来る</p>
  	  	<p>・理解力を上げる上で例えや引用を使うのが効果的で、それらを視覚的に表現出来る</p>
  	  	<p>・視覚だけではなく、音声を通して聴覚にも訴えかける事が出来る</p>
  	  	<p>・プログラミングでは流れ、物事が起こる順番を理解するのが大事であり、文字ベースよりも動画ベースの方が効果があるとされている</p>
  	  	<p>と言うよな理由がございまして、アニメーション動画をベースにしているプログラミング学習サイトは、このサイトだけです。
  	  	<br>
  	  	<h2>3. つまらなくない</h2>
  	  	<br>
  	  	<p>学習をする事で何よりも大事なのは継続する事です。</p>
  	  	<p>どの学問やスポーツでもそうですが、スキルを身に付けるためには、定期的に継続的に鍛錬する事が必須になってきます。アニメーション動画及び、動画であれば、絵や写真、音楽だけではなくて、声を届ける事が出来る。多くのモノトーンでエネルギーの無いサイトと比べると、このサイトはエンターテイニングな教材になったと感じています。</p>
  	  	<br>
  	  	<h2>4. 一匹狼だからこその俊敏性とサポート体制</h2>
  	  	<br>
  	  	<p>このサイトは私一人しか居ません。大手のプログラミング学習サイトからしたら、私はゴキブリのような存在でしょう。しかし、ゴキブリだからこその強みがある。皆様の要望や、プログラミング業界の変化に素早く順応して、カリキュラムを作成したり編集する事が出来る。他には無い形で親身にサポートが可能になると思っています。</p>
  	  	<br>
  	  	<h2>6. 最新のバージョン対応</h2>
  	  	<br>
  	  	<p>プログラミングと言う言語は常に変化します。国内外のプログラミング学習サイトでよくあるのが、４年間もサイトが更新されていないと言う事や、現在の開発環境だと動かないと言う事であったり。プログラミングと言う言語は繊細な言語で、少しの間違いが訳の分からないエラーを生み出すの物です。これは、学習する側としたら本当にダルくて、死ぬほどイライラするんですよね。もちろん、一概に最新の物が良いとは言えませんが、バランスがあるわけで、業界の新しい基準と受け入れられている物はしっかりと取り入れいれるのがこのサイトとなってまして、今後も更新を続ける事をお約束致します。</p>
  	  	<br>
  	  	<h2>7. 海外の情報をバンバン</h2>
  	  	<br>
  	  	<p>プログラミングを始めて、初めて英語が出来る事に感謝しました。英語が出来ると、何か分からない事や、プログラミングを学習したいと思った時のリソースの量が違いすぎる。本の虫であり、普段から死ぬほどプログラミングに関するコンテンツを漁っている私だからこそ、日本人には届かない情報を素早く届ける事が出来ると考えています。</p>
	</section>
	<section>
		<br>
		<h1 align="center">サイト設立の背景</h1>
		<br>
		<p>私が教育に興味を持ち始めたきっかけから、語らせて頂きましょうか。アメリカの５年生の大学を４年で卒業できる単位を取得していた優秀な私でしたが、特にやりたいこともなく、協調性の無い私が、どこか会社に入ってもまともにやっていけないだろうと思い、早めに卒業することはせずに、自分探しの日々を一年間、送ることにしました。その旅路の中で、祖母が住む長野県に数ヶ月滞在しました。<p>特に何もせずにぐうたらしていた私でしたが、「ユウちゃんは、２３歳にもなってどうして仕事をしないの？」と言われたので、仕方なく唯一の強みである英語を活かせる塾講師のアルバイトを始めました。<p>地方の小中高生のガキンチョ達を相手に英語を教えていたわけですが、上から目線で偉そうにものを言うのが好きな私にとっては。人に教える事が天職であることに気がつきました。そして同時に、地方に住み、情報弱者として、需要のあるスキルを身につける事なく日々を過ごして行くであろうキッズ達に情が湧き、いつか彼ら彼女らに上質な教育を受ける機会を与えれればと考え、旅を中断し、帰京しました。</p>
		<p>あの決意から２年、なんだかんだでIT系の会社に入社し、ある程度のスキルを付けて、このサイトを作ったわけです。</p>
		<p>そして、ぶっちゃけると、私のプログラミングスキルはゴミ同然ですが、初心者に対して基本的なことを教えることに関してはピカイチだと思っています。それは細かいことまで気にする完璧主義者であるのと、本の虫であるがゆえ、科学的な知識や引用と例えをする事に秀でており、人に教えることに繋がる「プレゼン能力」に長けていると自負しているからです。
		<p>さて、最後に。色々と綺麗事を並べましたが、「真の目的」「見てみたい」と思う光景がございます。</p>
		<p>私が育ったアメリカには「アンダードッグ」と言う言葉がございまして、「弱者」を意味しております。映画「ロッキー」や「空手キッド」のように、弱者が恵まれない環境からスターダムを駆け上がり、強者を蹴散らす様に市民は興奮し、熱狂する…と言う文化があるわけです。</p>
		<p>そのように、このサイトでの学習を通して、価値のあるプログラミングと言うスキルを身につけ、「現状を破壊しながら飛んでいく」、そんな様を見てみたいと「心から」思っています。そのためにサイトを設立したと言うのが最も核心に近いかもしれません。</p>

</p>
  	</div>
</div>

<div class="col-sm-6 col-sm-offset-3">
	<section class="footer" align="center">
	<hr>
		<p> Made with ❤️　in Philly. Reppin that city of brotherly love 🔫</span>
		<br>
		<br>
		<br>
		<br>
	</section>

</div>

<% end %>
