<h1>レッスンの編集</h1>

<%= simple_form_for @lesson do |f| %>
	<p>
		<%= f.label :title, 'レッスン名' %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :body, '内容' %><br>
		<%= f.text_field :body %>
	</p>

	<p>
		<%= f.label :course_id, 'コース'%><br>
		<%= f.collection_select :course_id, Course.all, :id, :title %><br>
	</p>


	<p>
		<%= f.submit :編集 %>
	</p>

	<p><%= link_to "<<コース一覧へ戻る", courses_path %></p>
	
<% end %>
