<div class="container-fluid white-text wf-hannari">
<br>
<br>
<br>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading"><h2><%= @lesson.title %></h2></div>
  <div class="panel-body"><%= @lesson.body %></div>
</div>
<% if current_user.admin? %>
	<%= link_to "レッスンを削除", lesson_path(@lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to "レッスンを編集する", edit_lesson_path %>
<% end %>
<br>
<br>
<%= link_to "<<レッスン一覧へ戻る", course_path(@lesson.course_id)%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>