<%= simple_form_for @course do |f| %>
	<p>
		<%= f.label :title, 'コース名' %><br>
		<%= f.text_field :title %>
	</p>
<br>
	<p>
		<%= f.submit :編集 %>
	</p>
<% end %>
<br>
<%= link_to '<<コース一覧へ戻る', courses_path %>